.readmore {
    background-color: brown;
    color: rgb(255,255,255);
    padding: 10px 20px;
    border: none;
    border-radius: 150px;
    cursor: pointer;
    outline:none;
    transition: transform 0.4s ease;
    animation: pulse 2s infinite ;
}@keyframes pulse {
    0% {
        transform: scale(1);
    }
     50% {
transform:scale(1.1)
}

100% {
transform: scale(1)
}
}

.readmore:active {
transform: scale(0.9s);
} 


.readmore:hover {
background-color: white;
color: brown;
border: brown solid 2px;
border-radius: 20px;
}


.explore {
    background-color: rgb(47, 220, 188);
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 60px;
    cursor: pointer;
    transition: transform 0.5s, background-color 0.5s ;
    animation: fadeIn 10s ease-in-out;
}
.explore:hover {
    background-color: #3498db;
    transform: transalate (-50%, -50%) scale(1.05);
}




.submit {
    background-color: aqua;
    color: rgb(255,255,255);
    padding: 10px 20px;
    border: none;
    border-radius: 60px;
    transition: opacity 0.4s linear;


}

.left {
    background-color: #2ECC71;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  
  .left:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(0);
  }
  


.login {
  border: 2px solid #3A3D41;
  background-color: transparent;
  color: #3A3D41;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.login:hover {
  background-color: #3A3D41;
  color: #fff;
}
